/* line 1, ../compass/sass/style.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, ../compass/sass/style.scss */
#map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
}

/* line 15, ../compass/sass/style.scss */
#map {
  height: 100%;
}

/* line 19, ../compass/sass/style.scss */
#side-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
}

/* line 29, ../compass/sass/style.scss */
.city-row {
  width: 100%;
  text-align: center;
}

/* line 34, ../compass/sass/style.scss */
.city-name {
  width: 100%;
  text-align: left;
}

/* line 39, ../compass/sass/style.scss */
.blue-button {
  width: 120px;
  background-color: #039BE5;
  color: white;
  border-radius: 2px;
  height: 30px;
  border: 1px solid #0395DF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 12px;
}

/* line 51, ../compass/sass/style.scss */
.blue-button:hover {
  background-color: #026A9D;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* line 56, ../compass/sass/style.scss */
.blue-button:active {
  background-color: #025279;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
