/* line 3, ../compass/sass/style.scss */
body {
  line-height: 1.2em;
}

/* line 7, ../compass/sass/style.scss */
#map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70%;
}
/* line 13, ../compass/sass/style.scss */
#map-wrapper #map, #map-wrapper #city-map {
  height: 100%;
}

/* line 18, ../compass/sass/style.scss */
#side-panel {
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 5px;
}
/* line 26, ../compass/sass/style.scss */
#side-panel .small-button {
  min-width: 1%;
}
/* line 29, ../compass/sass/style.scss */
#side-panel .offset-button {
  position: relative;
  top: 19px;
}
/* line 33, ../compass/sass/style.scss */
#side-panel #side-top-wrapper {
  text-align: center;
}
/* line 35, ../compass/sass/style.scss */
#side-panel #side-top-wrapper #what-is {
  color: #757575;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
/* line 43, ../compass/sass/style.scss */
#side-panel .city-row {
  width: 100%;
  text-align: center;
}
/* line 46, ../compass/sass/style.scss */
#side-panel .city-row .city-name {
  width: 100%;
  text-align: left;
  color: #757575;
}

/* line 55, ../compass/sass/style.scss */
.city-info .city-header {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.5em;
}
/* line 60, ../compass/sass/style.scss */
.city-info .span {
  font-weight: bold;
}
/* line 63, ../compass/sass/style.scss */
.city-info a:link, .city-info a:visited {
  color: #0000EE;
}

@media screen and (max-width: 1024px) {
  /* line 69, ../compass/sass/style.scss */
  #map-wrapper {
    width: 100%;
    height: 70vh;
    position: static;
  }

  /* line 74, ../compass/sass/style.scss */
  #side-panel {
    width: 100%;
    bottom: 0;
    position: static;
  }
  /* line 78, ../compass/sass/style.scss */
  #side-panel .small-button, #side-panel md-input-container {
    min-width: 80%;
  }
  /* line 81, ../compass/sass/style.scss */
  #side-panel .city-name {
    text-align: center;
  }
}
/* line 87, ../compass/sass/style.scss */
.view-height {
  height: 100vh;
}

/* line 90, ../compass/sass/style.scss */
.hidden {
  display: none;
}
