<!DOCTYPE html>
<html ng-app="mapsApp">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIEKQEQmbOz2q9VEINcWWO15WMS5kcoIU"></script>
    <script src="cities.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="mapsController">
    <div class="container">
      <div id="map"></div>
      <div id="side-panel">
        <div class="row" ng-repeat="city in cities track by $index">
          <p>{{city.yearRank}}: {{city.city}}</p>
          <button class="btn btn-default" ng-click="showInfo($index)">Show Info</button>
        </div>
      </div>
    </div>
  </body>
</html>